@using AutoXen.Services
@inject ICarService carService
@model DetailedCarWithoutIdViewModel

<h2>Your car:</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row">
        <div class="col-md-4">
            <label class="col-form-label" asp-for="Brand"></label>
            <input class="input-group form-control" asp-for="Brand" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="col-form-label" asp-for="Model"></label>
            <input class="input-group form-control" asp-for="Model" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="col-form-label" asp-for="RegistrationPlate"></label>
            <input class="input-group form-control" asp-for="RegistrationPlate" />
            <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4">
            <label class="col-form-label" asp-for="VehicleIdentificationNumber"></label>
            <input class="input-group form-control" asp-for="VehicleIdentificationNumber" />
            <span asp-validation-for="VehicleIdentificationNumber" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="col-form-label" asp-for="YearMade"></label>
            <input class="input-group form-control" asp-for="YearMade" />
            <span asp-validation-for="YearMade" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="col-form-label" asp-for="Color"></label>
            <input class="input-group form-control" asp-for="Color" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="offset-2 col-md-2">
            <label class="col-form-label" asp-for="NumberOfSeats"></label>
            <input class="input-group form-control" asp-for="NumberOfSeats" />
            <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
        </div>
        <div class="offset-3 col-md-2">
            <label class="col-form-label" asp-for="Weight"></label>
            <input class="input-group form-control" asp-for="Weight" />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 offset-md-1">
            <label class="col-form-label">Fuel type</label>
            <select asp-for="FuelType" class="form-control"
                    asp-items="@Html.GetEnumSelectList<AutoXen.Data.Enums.FuelType>()">
            </select>
        </div>
        <div class="offset-md-1 col-md-4">
            <label class="col-form-label">Transmission type</label>
            <select asp-for="TransmissionType" class="form-control"
                    asp-items="@Html.GetEnumSelectList<AutoXen.Data.Enums.TransmissionType>()">
            </select>
        </div>
    </div>

    <div class="form-row">
        <label class="col-md-3 col-form-label font-weight-bold">Car Extras:</label>
        <div class="row">
            @foreach (var extra in carService.GetAllExtras()) 
            {
                <div class="list-group-item col-md-3">
                    <label name="@extra.Name">@extra.Name</label>
                    @if (Model != null && Model.CarExtras != null && Model.CarExtras.Contains(extra.Id))
                    {
                        <input class="form-check-inline" type="checkbox" name="CarExtras" value="@extra.Id" checked />
                    }
                    else
                    {
                        <input class="form-check-inline" type="checkbox" name="CarExtras" value="@extra.Id" />
                    }
                </div>
            }
        </div>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}