@model IEnumerable<AutoXen.Web.ViewModels.Requests.RequestViewModel>

<h4 class="text-center m-3">Your Requests</h4>
<div class="d-flex justify-content-center">
    <table class="table table-sm table-hover border border-dark table-bordered col-md-10">
        <thead class="thead-dark">
            <tr>
                <th>
                    Your car
                </th>
                <th>
                    Created on
                </th>
                <th>
                    Request type
                </th>
                <th class="text-center">
                    Info
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@($"Brand: {request.Car.Brand} - Model: {request.Car.Model} - {request.Car.RegistrationPlate}")</td>
                        <td name="date">@request.CreatedOn</td>
                        <td>@request.RequestName</td>
                        @if (request.RequestName.ToLower() == "workshop")
                        {
                            <td class="text-center"><a asp-controller="Workshops" asp-action="Details" asp-route-id="@request.Id" class="btn btn-outline-info">Info</a></td>
                        }
                        else if (request.RequestName.ToLower() == "car wash")
                        {
                            <td class="text-center"><a asp-controller="CarWashes" asp-action="Details" asp-route-id="@request.Id" class="btn btn-outline-info">Info</a></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
