@using AutoXen.Web.ViewModels.Workshop
@using AutoXen.Services.Data
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IWorkshopService workshopService
@model WorkshopRequestViewModel

<form method="post" class="mt-2 d-flex justify-content-center">
    <div class="form-row container">
        <div class="col-md-8">
            <div class="d-flex justify-content-center">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <partial name="_CarsPartial" model="Model.CarId" />

            <partial name="_PickUpPartial" model="@Model" />

            <div class="form-row d-flex justify-content-center">
                <div class="col-md-9 form-group">
                    <div class="text-center">
                        <label class="col-form-label" asp-for="AdminChooseWorkshop"></label>
                        <input onchange="EnableDisableWorkshops(this)" class="form-check-inline" asp-for="AdminChooseWorkshop" onclick="GetAllServices()" />
                    </div>
                    <select class="form-control selectId" asp-for="WorkshopId" onchange="GetWorkshopServices(this)">
                        <option id="hiddenValue" hidden disabled selected>@Localizer["PickWorkshop"]</option>
                        @foreach (var workshop in this.workshopService.GetAllWorkshops())
                        {
                            <option data-select2 value="@workshop.Id">
                                @($"{workshop.Name} - {workshop.Address}")
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="mb-2 mt-1 d-flex justify-content-center">
                <select class="js-select-multiple col-md-9 form-control selectIds" asp-for="@Model.Ids" data-placeholder="@Localizer["SelectOption"]" multiple="multiple">
                    @if (Model.WorkshopId != 0)
                    {
                        @foreach (var service in this.workshopService.GetServicesByWorkshopId(Model.WorkshopId))
                        {
                            if (Model.Ids.Contains(service.Id))
                            {
                                <option selected data-select2 value="@service.Id">
                                    @($"{service.ServiceName} - {service.Price}")
                                </option>
                            }
                            else
                            {
                                <option data-select2 value="@service.Id">
                                    @($"{service.ServiceName} - {service.Price}")
                                </option>
                            }
                        }
                    }
                    else
                    {
                        @foreach (var service in this.workshopService.GetAllServices())
                        {
                            <option data-select2 value="@service.Id">
                                @($"{service.Name}")
                            </option>
                        }
                    }
                </select>
            </div>

            <div class="pb-4 d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="text-center">
                        <label class="col-form-label" asp-for="OtherServices"></label>
                        <textarea class="form-control" asp-for="OtherServices" rows="4"> </textarea>
                        <span asp-validation-for="OtherServices" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-2">
            <div class="text-center">
                <label class="col-form-label" asp-for="Message">@Localizer["WriteMessage"]</label>
            </div>
            <textarea class="form-control input-group" rows="15" asp-for="Message"></textarea>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/workshop.js" asp-append-version="true"></script>
}
