@using AutoXen.Web.ViewModels.Administration.Requests
@using AutoXen.Data.Models
@using Microsoft.AspNetCore.Identity
@using PluralizeService.Core;
@inject UserManager<ApplicationUser> UserManager
@model RequestsViewModel
@{
    this.ViewData["Title"] = "Requests";
}

<form class="mt-md-3" method="get">
    <div class="d-flex justify-content-center">
        <div class="bg-dark text-white col-md-10">
            <div class="text-center mt-2 mb-2">
                <button class="btn btn-primary shadow-none" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Filters
                </button>
            </div>

            <div id="collapseExample" class="collapse m-0 p-0">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <label class="col-form-label" asp-for="Accepted"></label>
                        <input class="form-check-inline" asp-for="Accepted" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <label class="col-form-label" asp-for="AcceptedByMe"></label>
                        <input class="form-check-inline" asp-for="AcceptedByMe" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <label class="col-form-label" asp-for="Workshops"></label>
                        <input class="form-check-inline" asp-for="Workshops" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <label class="col-form-label" asp-for="CarWashes"></label>
                        <input class="form-check-inline" asp-for="CarWashes" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <label class="col-form-label" asp-for="Insurances"></label>
                        <input class="form-check-inline" asp-for="Insurances" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <label class="col-form-label" asp-for="RoadsideAssistance"></label>
                        <input class="form-check-inline" asp-for="RoadsideAssistance" />
                    </div>
                    <div class="col-xl-4 col-lg-5 col-sm-6 col-12">
                        <label class="col-form-label" asp-for="AnnualTechnicalInspections"></label>
                        <input class="form-check-inline" asp-for="AnnualTechnicalInspections" />
                    </div>
                </div>

                <input hidden asp-for="PageNumber" />

                <div class="d-flex justify-content-center col mb-2 mt-2">
                    <button class="btn btn-primary pl-3 pr-3" type="submit">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <table class="col-md-10 table table-sm table-hover border border-dark table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">
                        User
                    </th>
                    <th class="text-center">
                        Created on
                    </th>
                    <th class="text-center">
                        Request type
                    </th>
                    <th class="text-center">
                        Accepted
                    </th>
                    <th class="text-center">
                        Info
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Requests != null)
                {
                    @foreach (var request in Model.Requests)
                    {
                        ApplicationUser curUser = this.UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();
                        <tr>
                            <td>@($"{request.User.FirstName} {request.User.MiddleName} {request.User.SurName}")</td>
                            <td class="momentTime">@request.CreatedOn</td>
                            <td>@request.RequestName</td>
                            @if (request.AcceptedById == null)
                            {
                                <td class="text-center"><a class="btn btn-outline-secondary" asp-controller="Requests" asp-action="AcceptRequest" asp-area="Administration" asp-route-requestName="@request.RequestName" asp-route-id="@request.Id">Accept</a></td>
                            }
                            else if (request.AcceptedById == curUser.Id)
                            {
                                <td class="text-center"><a class="btn btn-outline-primary" asp-controller="Email" asp-action="Send" asp-area="Administration" asp-route-requestName="@request.RequestName" asp-route-id="@request.Id">Send email</a></td>
                            }
                            else
                            {
                                <td class="text-center align-middle"><button disabled class="btn btn-dark">Accepted</button></td>
                            }

                            <td class="text-center"><a class="btn btn-outline-info" asp-area="Administration" asp-controller="@(PluralizationProvider.Pluralize(request.RequestName))" asp-action="Details" asp-route-id="@request.Id">Info</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</form>