@using AutoXen.Services.Data
@using AutoXen.Web.ViewModels.Workshop
@model WorkshopRequestDetailsViewModel
@inject IWorkshopService workshopService


<div class="d-flex pb-3 justify-content-center">
    <div class="form-row mt-2 container">
        <div class="col-md-8">
            <form method="post">
                <div class="d-flex justify-content-center">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <partial name="_AdministrationRequestInformationPartial" model="Model.RequestInformation" />

                <partial name="_SingleCarPartial" model="Model.Car" />

                <partial name="_SinglePickUpPartial" model="@Model" />

                <div class="form-row d-flex justify-content-center">
                    <div class="col-md-9 mb-3 text-center">
                        <label class="col-form-label" asp-for="Workshop.Id">Workshop</label>
                        <select class="form-control selectId" name="WorkshopId" onchange="GetWorkshopServices(this)">
                            <option id="hiddenValue" hidden disabled selected>Pick a workshop</option>
                            @foreach (var workshop in this.workshopService.GetAllWorkshops())
                            {
                                if (Model.Workshop != null && workshop.Id == Model.Workshop.Id)
                                {
                                    <option selected data-select2 value="@workshop.Id">
                                        @($"Name: {workshop.Name} - Address: {workshop.Address}")
                                    </option>
                                }
                                else
                                {
                                    <option data-select2 value="@workshop.Id">
                                        @($"{workshop.Name} - {workshop.Address}")
                                    </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Workshop.Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row mb-2 mt-1 d-flex justify-content-center">
                    <label class="text-center col-md-4">Services</label>
                    @if (Model.AdminChooseWorkshop && Model.Workshop == null)
                    {
                        <select class="js-select-multiple col-md-9 form-control selectIds" name="ServiceIds" asp-for="@Model.WServices" multiple="multiple">
                            @foreach (var service in workshopService.GetAllServices())
                            {
                                if (Model.WServices.Any(x => x.Id == service.Id))
                                {
                                    <option selected value="@service.Id">@service.Name</option>
                                }
                                else
                                {
                                    <option value="@service.Id">@service.Name</option>
                                }
                            }
                        </select>
                        <label class="mt-3 text-center col-md-4">Picked services</label>
                        <select class="js-select-multiple col-md-9" disabled multiple>
                            @foreach (var service in Model.WServices)
                            {
                                <option selected>@service.Name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="js-select-multiple col-md-9 form-control selectIds" name="ServiceIds" asp-for="@Model.WorkshopServices" multiple="multiple">
                            @foreach (var service in workshopService.GetServicesByWorkshopId(Model.Workshop.Id))
                            {
                                if (Model.WorkshopServices != null && Model.WorkshopServices.Any(x => x == service.Id))
                                {
                                    <option selected value="@service.Id">@($"{service.ServiceName} - {service.Price}$")</option>
                                }
                                else
                                {
                                    <option value="@service.Id">@($"{service.ServiceName} - {service.Price}$")</option>
                                }
                            }

                        </select>
                        @if (Model.WServices != null)
                        {
                            <label class="mt-3 text-center col-md-4">Picked services</label>
                            <select class="js-select-multiple col-md-9" disabled multiple>

                                @foreach (var service in Model.WServices)
                                {
                                    <option selected>@service.Name</option>
                                }

                            </select>
                        }
                    }
                </div>

                <div class="pb-3 d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="text-center">
                            <label class="col-form-label" asp-for="OtherServices"></label>
                            <textarea class="form-control" asp-for="OtherServices" rows="4"> </textarea>
                            <span asp-validation-for="OtherServices" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4 mt-4">
            <input disabled hidden value="@Model.Id" id="requestId" />
            <partial name="_ChatPartial" model="Model.Messages" />
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/workshop.js" asp-append-version="true"></script>
}
