@using AutoXen.Common
@using Microsoft.AspNetCore.Identity
@using AutoXen.Data.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <!-- theme -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/theme/aos.css" rel="stylesheet" />
    <link href="~/theme/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/theme/style.css" rel="stylesheet" asp-append-version="true" />
    <!-- /theme -->
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-xl box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand active-text-color d-inline" asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-asymmetrik"></i> @GlobalConstants.SystemName</a>
                <div class="mt-2">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
                <button class="navbar-toggler" id="logout" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon active-text-color"></span>
                </button>
                <div class="container">
                    <div class="navbar-collapse collapse d-xl-inline-flex flex-xl-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" is-active-route>
                                <a class="nav-link textColor" is-active-route asp-controller="Home" asp-action="Index" asp-area=""><i class="fas fa-home"></i> @Localizer["Home"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link textColor" is-active-route asp-controller="Home" asp-action="About" asp-area=""><i class="fas fa-info-circle"></i> @Localizer["About"]</a>
                            </li>
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link textColor" asp-controller="Cars" asp-action="All" asp-area=""><i class="fas fa-car"></i> @Localizer["MyCars"]</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle textColor" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-people-carry"></i> @Localizer["МакеARequest"]
                                    </a>
                                    <div class="dropdown-menu black-baground" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item textColor white-baground-hover" asp-controller="CarWashes" asp-action="Index" asp-area=""><i class="fas fa-soap"></i> @Localizer["CarWash"]</a>
                                        <a class="dropdown-item textColor white-baground-hover" asp-controller="Home" asp-action="UnderDevelopment" asp-area=""><i class="fas fa-shield-alt"></i> @Localizer["Insurance"]</a>
                                        <a class="dropdown-item textColor white-baground-hover" asp-controller="Home" asp-action="UnderDevelopment" asp-area=""><i class="fas fa-car-crash"></i> @Localizer["RoadsideAssistance"]</a>
                                        <a class="dropdown-item textColor white-baground-hover" asp-controller="Workshops" asp-action="Index" asp-area=""><i class="fas fa-tools"></i> @Localizer["Workshop"]</a>
                                        <a class="dropdown-item textColor white-baground-hover" asp-controller="Home" asp-action="UnderDevelopment" asp-area=""><i class="fas fa-tasks"></i> @Localizer["AnnualTechnicalInspection"]</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link textColor" asp-controller="Requests" asp-action="Index" asp-area=""><i class="fas fa-hands"></i> @Localizer["Requests"]</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />
    <main role="main" class="">
        @this.RenderBody()
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>AutoXen<span>.</span></h3>
                            <p>
                                A108 Adam Street <br>
                                NY 535022, USA<br><br>
                                <strong>@Localizer["Phone"]:</strong> +1 5589 55488 55<br>
                                <strong>@Localizer["Email"]:</strong> info@example.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="fab fa-twitter-square"></i></a>
                                <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>@Localizer["UsefulLinks"]</h4>
                        <ul>
                            <li><i class="fas fa-home"></i> <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                            <li><i class="fas fa-info-circle"></i> <a asp-controller="Home" asp-action="About" asp-area="">@Localizer["About"]</a></li>
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <li><i class="fas fa-car"></i> <a asp-controller="Cars" asp-action="All" asp-area="">'@Localizer["MyCars"]</a></li>
                                <li><i class="fas fa-hands"></i> <a asp-controller="Requests" asp-action="Index" asp-area="">@Localizer["MyRequests"]</a></li>
                                <li><i class="fas fa-user"></i> <a asp-area="Identity" asp-page="/Account/Manage/Index">@Localizer["MyProfile"]</a></li>
                            }
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>@Localizer["OurServices"]</h4>
                        <ul>
                            <li><i class="fas fa-soap"></i> <a asp-controller="CarWashes" asp-action="Index" asp-area="">@Localizer["CarWash"]</a></li>
                            <li><i class="fas fa-shield-alt"></i> <a sp-controller="Home" asp-action="UnderDevelopment" asp-area="">@Localizer["Insurance"]</a></li>
                            <li><i class="fas fa-car-crash"></i> <a sp-controller="Home" asp-action="UnderDevelopment" asp-area="">@Localizer["RoadsideAssistance"]</a></li>
                            <li><i class="fas fa-tools"></i> <a asp-controller="Workshops" asp-action="Index" asp-area="">@Localizer["Workshop"]</a></li>
                            <li><i class="fas fa-tasks"></i> <a sp-controller="Home" asp-action="UnderDevelopment" asp-area="">@Localizer["AnnualTechnicalInspection"]</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>@Localizer["OurNewsletter"]</h4>
                        <p>@Localizer["LongSubscribe"]</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="@Localizer["Subscribe"]">
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>AutoXen</span></strong>.
                </div>
                <div class="credits font-weight-bold">
                    @Localizer["MadeBy"] <span class="underline-primary">@Localizer["SimeonKirilov"]</span>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
    <div id="preloader"></div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- > theme </!-->
    <script src="~/theme/jquery.easing.min.js"></script>
    <script src="~/theme/owl.carousel.min.js"></script>
    <script src="~/theme/isotope.pkgd.min.js"></script>
    <script src="~/theme/venobox.min.js"></script>
    <script src="~/theme/jquery.waypoints.min.js"></script>
    <script src="~/theme/counterup.min.js"></script>
    <script src="~/theme/aos.js"></script>
    <script src="~/theme/main.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/momentJs/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    var settings = {
        errorClass: "is-invalid"
    };
    $.validator.setDefaults(settings);
    $.validator.unobtrusive.options = settings;
</script>