@using AutoXen.Common
@using AutoXen.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        ApplicationUser curUser = this.UserManager.GetUserAsync(this.User).GetAwaiter().GetResult();
        <li class="nav-item">
            <a class="nav-link textColor" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Hello"] <i class="fas fa-user"></i> @($"{curUser.FirstName} {curUser.SurName}")!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link textColor" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">@Localizer["Admin"]</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn-link-white"><i class="fas fa-sign-out-alt"></i> @Localizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link textColor" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-registered"></i> @Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link textColor" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> @Localizer["Login"]</a>
        </li>
    }
</ul>
