@using AutoXen.Web.ViewModels.Common
@model PagingViewModel

<ul class="pagination justify-content-center">
    <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
        <button type="submit" class="page-link" asp-route-pagenumber="1">First</button>
    </li>
    <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
        <button type="submit" class="page-link" asp-route-pagenumber="@Model.PreviousPageNumber">Previous</button>
    </li>
    @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
    {
        if (i > 0)
        {
            <li class="page-item"><button type="submit" class="page-link" asp-route-pagenumber="@i">@i</button></li>
        }
    }
    <li class="page-item active" aria-current="page">
        <span class="page-link">
            @Model.PageNumber
            <span class="sr-only">(current)</span>
        </span>
    </li>
    @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
    {
        if (i <= Model.PagesCount)
        {
            <li class="page-item"><button type="submit" class="page-link" asp-route-pagenumber="@i">@i</button></li>
        }
    }
    <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
        <button type="submit" class="page-link" asp-route-pagenumber="@Model.NextPageNumber">Next</button>
    </li>
    <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
        <button type="submit" class="page-link" asp-route-pagenumber="@Model.PagesCount">Last</button>
    </li>
</ul>
