@using AutoXen.Services.Data
@using AutoXen.Web.ViewModels.CarWash
@model CarWashRequestDetailsViewModel
@inject ICarWashService washService

<div class="d-flex justify-content-center">
    <div class="row mt-2 container">
        <div class="col-md-8">
            <div asp-validation-summary="All" class="text-danger"></div>

            <partial name="_RequestInformationPartial" model="Model.RequestInformation" />

            <partial name="_SingleCarPartial" model="Model.Car" />

            <partial name="_SinglePickUpPartial" model="@Model" />

            <div class="form-row d-flex justify-content-center">
                <div class="p-1 col-md-5">
                    <div class="text-center">
                        <label class="col-form-label" asp-for="AdminChooseCarWash"></label>
                        @if (Model.CarWashId == null)
                        {
                            <input disabled checked class="form-check-inline" asp-for="AdminChooseCarWash" />
                        }
                        else
                        {
                            <input disabled class="form-check-inline" asp-for="AdminChooseCarWash" />
                        }
                        <span asp-validation-for="AdminChooseCarWash" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                @foreach (var carWash in washService.GetAllCarWashes())
                {
                <div class="ml-4 ml-sm-0 col-sm-4 col-md-4 col-lg-3 form-check">
                    @if (Model.CarWashId != null && Model.CarWashId == carWash.Id)
                    {
                        <input disabled type="radio" checked class="form-check-input" value="@carWash.Id" name="CarWashId" id="@carWash.Id" />
                    }
                    else
                    {
                        <input disabled readonly type="radio" class="form-check-input " value="@carWash.Id" name="CarWashId" id="@carWash.Id" />
                    }
                    <label class="form-check-label nowrap" for="@carWash.Id">@carWash.Name</label>
                </div>
                }
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <input disabled hidden value="@Model.Id" id="requestId" />
            <partial name="_ChatPartial" model="Model.Messages" />
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/CarWash.js"></script>
}