@using AutoXen.Services.Data
@model CarWashRequestViewModel
@inject ICarWashService washService

<form method="post">
    <div class="row mt-2">
        <div class="col-md-8">
            <div asp-validation-summary="All" class="text-danger"></div>

            <partial name="_CarsPartial" model="@Model.CarId" />

            <partial name="_PickUpPartial" model="@Model.PickUp" />

            <br />
            <div class="form-row d-flex justify-content-center">
                <div class="border p-1 col-md-4">
                    <div class="text-center">
                        <label class="col-form-label" asp-for="AdminChooseCarWash"></label>
                        @if (Model.CarWashId == null)
                        {
                            <input checked class="form-check-inline" asp-for="AdminChooseCarWash" />
                        }
                        else
                        {
                            <input class="form-check-inline" asp-for="AdminChooseCarWash" />
                        }
                        <span asp-validation-for="AdminChooseCarWash" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-row ml-2">
                @foreach (var carWash in washService.GetAllCarWashes())
                {
                <div class="col m-2 form-check">
                    @if (Model.CarWashId != null && Model.CarWashId == carWash.Id)
                    {
                        <input type="radio" checked class="form-check-input" value="@carWash.Id" name="CarWashId" id="@carWash.Id"/>
                    }
                    else
                    {
                        <input type="radio" class="form-check-input" value="@carWash.Id" name="CarWashId" id="@carWash.Id"/>
                    }
                    <label class="form-check-label" for="@carWash.Id">@carWash.Name</label>
                </div>
                }
            </div>
            <br />
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label class="col-form-label text-center">Write your message</label>
            <textarea class="form-control input-group" rows="20"></textarea>
        </div>
    </div>
</form>

<script src="~/js/CarWash.js"></script>