@using AutoXen.Services.Data
@using AutoXen.Web.ViewModels.Insurance
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IInsuranceService insuranceService
@model InsuranceRequestViewModel

<form method="post" class=" d-flex justify-content-center">
    <div class="row mt-2 container">
        <div class="col-md-8">
            <div asp-validation-summary="All" class="text-danger"></div>

            <partial name="_CarsPartial" model="@Model?.CarId" />

            <div class="form-row">
                <div class="text-center col-lg-6">
                    <label class="col-form-label" asp-for="InsurerId"></label>
                    <select class="form-control input-group" asp-for="InsurerId" onchange="GetInsurerInsurances(this);">
                        <option hidden disabled selected>@Localizer["PickInsurer"]</option>
                        @foreach (var insurer in insuranceService.GetInsurers())
                        {
                            <option data-select2 value="@insurer.Id">@insurer.Name</option>
                        }
                    </select>
                    <span asp-validation-for="InsurerId" class="text-danger"></span>
                </div>

                <div class="text-center col-lg-6">
                    <label class="col-form-label" asp-for="InsurerInsuranceIds"></label>
                    <select id="insurances" class="form-control input-group js-select-multiple" disabled multiple data-placeholder="@Localizer["SelectOption"]" asp-for="InsurerInsuranceIds">
                    
                    </select>
                    <span asp-validation-for="InsurerInsuranceIds" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row mt-2">
                <div class="text-center col-lg-5">
                    <label class="col-form-label" asp-for="InsurenceStart"></label>
                    <input class="form-control input-group" type="datetime-local" asp-for="InsurenceStart"/>
                    <span asp-validation-for="InsurenceStart" class="text-danger"></span>
                </div>

                <div class="text-center col-lg-5">
                    <label class="col-form-label" asp-for="InsuranceEnd"></label>
                    <input class="form-control input-group" type="datetime-local" asp-for="InsuranceEnd"/>
                    <span asp-validation-for="InsuranceEnd" class="text-danger"></span>
                </div>

                <div class="col-lg-2 d-flex justify-content-center">
                    <div class="mt-lg-0 mt-2 col-lg-12 col-md-6 col-sm-6 col-8">
                        <label class="col-form-label text-center" asp-for="NumberOfPayments"></label>
                        <select class="form-control input-group" asp-for="NumberOfPayments">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                        </select>
                        <span asp-validation-for="NumberOfPayments" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                </div>
            </div>
        </div>

        <partial name="_MessagePartial" model="@Model?.Message" />
    </div>
</form>

@section Scripts{
    <script src="~/js/Insurance.js" asp-append-version="true"></script>
}