@using AutoXen.Services.Data
@using AutoXen.Web.ViewModels.CarWash
@model CarWashRequestDetailsViewModel
@inject ICarWashService washService

<div class="d-flex pb-3 justify-content-center">
    <div class="form-row mt-2 container">
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <partial name="_AdministrationRequestInformationPartial" model="Model.RequestInformation" />

                <partial name="_SingleCarPartial" model="Model.Car" />

                <partial name="_SinglePickUpPartial" model="@Model" />


                <label class="font-weight-bold">Car wash</label>

                <div class="form-row">
                    @foreach (var carWash in washService.GetAllCarWashes())
                    {
                        <div class="ml-4 ml-sm-0 col-sm-4 col-md-6 col-lg-4 form-check">
                            @if (Model.CarWashId != null && Model.CarWashId == carWash.Id)
                            {
                                <input type="radio" checked class="form-check-input" value="@carWash.Id" name="CarWashId" id="@carWash.Id" />
                            }
                            else
                            {
                                <input type="radio" class="form-check-input " value="@carWash.Id" name="CarWashId" id="@carWash.Id" />
                            }
                            <label class="form-check-label nowrap" for="@carWash.Id">@carWash.Name - @carWash.Price</label>
                        </div>
                    }
                </div>

                <div class="row mt-2">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4 mt-4">
            <input disabled hidden value="@Model.Id" id="requestId" />
            <partial name="_ChatPartial" model="Model.Messages" />
        </div>
    </div>
</div>