@using AutoXen.Services.Data
@using AutoXen.Web.ViewModels.Insurance
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IInsuranceService insuranceService
@model InsuranceRequestDetailsViewModel

<form method="post" class=" d-flex justify-content-center">
    <div class="row mt-2 container">
        <div class="col-md-8">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row d-flex justify-content-center">
                <div class="text-center col-lg-6">
                    <label class="text-muted col-form-label" asp-for="RequestInformation.InsurancesSent"></label>
                    <input class="form-check-inline" asp-for="RequestInformation.InsurancesSent" />
                </div>
                <div class="text-center col-lg-6">
                    <label class="text-muted col-form-label" asp-for="RequestInformation.InsurancesReceived"></label>
                    <input class="form-check-inline" asp-for="RequestInformation.InsurancesReceived" />
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="text-center col-sm-6 col-md-8 col-lg-6 col-xl-5">
                    <label class=" text-muted col-form-label" asp-for="RequestInformation.FinishedOn"></label>
                    <input class="form-control" asp-for="RequestInformation.FinishedOn" />
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-4">
                    <div class="text-center mt-4">
                        <a class="btn btn-info pl-3 pr-3" asp-controller="Users" asp-action="Profile" asp-route-userId="@Model.RequestInformation.UserId">User's profile</a>
                    </div>
                </div>
            </div>

            <hr />

            <partial name="_SingleCarPartial" model="Model.Car" />

            <div class="form-row">
                <div class="text-center col-lg-6">
                    <label class="col-form-label" for="InsurerId">Insurer</label>
                    <select class="form-control input-group" name="InsurerId" id="InsurerId" onchange="GetInsurerInsurances(this);">
                        <option hidden disabled selected>@Localizer["PickInsurer"]</option>
                        @foreach (var insurer in insuranceService.GetInsurers())
                        {
                            if (insurer.Id == Model.Insurer.Id)
                            {
                                <option selected data-select2 value="@insurer.Id">@insurer.Name</option>
                            }
                            else
                            {
                                <option data-select2 value="@insurer.Id">@insurer.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="text-center col-lg-6">
                    <label class="col-form-label" for="insurances">Insurances</label>
                    <select id="insurances" class="form-control input-group js-select-multiple" multiple name="InsurerInsurancesIds">
                        @foreach (var insurerInsurance in insuranceService.GetInsurancesByInsurerId(Model.Insurer.Id))
                        {
                            if (Model.InsurerInsurances.Any(x => x.Id == insurerInsurance.Id))
                            {
                                <option id="@insurerInsurance.Id" value="@insurerInsurance.Id" selected>@($"{insurerInsurance.InsuranceName} - {insurerInsurance.Price}")</option>
                            }
                            else
                            {
                                <option id="@insurerInsurance.Id" value="@insurerInsurance.Id">@($"{insurerInsurance.InsuranceName} - {insurerInsurance.Price}")</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-row mt-2">
                <div class="text-center col-lg-5">
                    <label class="col-form-label" asp-for="InsuranceStart"></label>
                    <input class="form-control input-group" type="datetime-local" asp-for="InsuranceStart" />
                    <span asp-validation-for="InsuranceStart" class="text-danger"></span>
                </div>

                <div class="text-center col-lg-5">
                    <label class="col-form-label" asp-for="InsuranceEnd"></label>
                    <input class="form-control input-group" type="datetime-local" asp-for="InsuranceEnd" />
                    <span asp-validation-for="InsuranceEnd" class="text-danger"></span>
                </div>

                <div class="col-lg-2 d-flex justify-content-center">
                    <div class="mt-lg-0 mt-2 col-lg-12 col-md-6 col-sm-6 col-8">
                        <label class="col-form-label text-center" asp-for="NumberOfPayments"></label>
                        <select class="form-control input-group" asp-for="NumberOfPayments">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                        </select>
                        <span asp-validation-for="NumberOfPayments" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <input hidden disabled value="@Model.Id" id="requestId" />
            <partial name="_ChatPartial" model="Model.Messages" />
        </div>

        <partial name="_SubmitRequestPartial" />
    </div>
</form>

@section Scripts{
    <script src="~/js/Insurance.js" asp-append-version="true"></script>
}